<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img id="floor" src="/floor-2228277_1920.jpg" alt="" class="background-image responsive-img"></img>
    </li>
    <li>
      <img id="red_deer" src="/red-deer-2308515_1920.jpg" alt="" class="background-image responsive-img"></img>
    </li>
    <li>
      <img id="thailand" src="/architecture-1836070_1920.jpg" alt="" class="background-image responsive-img"></img>
    </li>
    <li>
      <img id="residence" src="/residence-2238987_1920.jpg" alt="" class="background-image responsive-img"></img>
    </li>
    <li>
      <img id= "skyscraper" src="/skyscraper-450793_1920.jpg" alt="" class="background-image responsive-img"></img>
    </li>
  </ul>
</div>
<div class = "about-bg">
  <div class = "about-box">
    <h2 class= "resulta">Results</h2>
    <div class="resultaPage">
      <table>
        <thead>
          <tr>
            <th>Address</th>
            <th>Zip Code</th>
            <th>ZPID</th>
            <th>Estimate</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <% @response.each do |result| %>
          <tr>
            <td><%= result[1]["request"]["address"] %></td>
            <td><%= result[1]["request"]["citystatezip"] %></td>
            <td><%= result[1]["response"]["results"]["result"].first["zpid"] %></td>
            <td>$<%= result[1]["response"]["results"]["result"].first["zestimate"]["amount"]["__content__"] %></td>
            <td><%= result[1]["response"]["results"]["result"].first["zestimate"]["last_updated"] %></td>
          </tr>
          <% end %>
        </tbody>

        <% if @response != nil %>
          <% @response.each do |result| %>
        <% end %>
        <% else %>
          <tr><td>No posts</td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
