<video poster="722675159.mp4" id="722675159.mp4" preload="auto" playsinline autoplay muted loop>
  <source src="722675159.mp4" type="video/mp4">
</video>

  <h2 class= 'propBox'>Get Your Estimate</h2>
  <div id="zillow-container">
  <%= form_for @response.body, :url => property_finder_path do |f| %>
    <div class= 'zwsidContainer'>
      <%= text_field_tag(:'zws-id', params[:'zws-id'], class: "form-control center responsive", placeholder: "ZWS-ID", style: "width: 50%")%> <br />
    </div>
    <div class= "addressContainer">
      <%= text_field_tag(:address, params[:address], class: "form-control center responsive", placeholder: "Address (e.g 123 Example Street, City, State)", style: "width: 75%")%> <br />
    </div>
    <div class= 'zipcodeContainer'>
      <%= text_field_tag(:citystatezip, params[:citystatezip], class: "form-control center responsive", placeholder: "Zip Code", style: "width: 50%") %> <br />
    </div>
    <%= submit_tag "Submit", :class => "btn btn-default hide" %>
  </div>

  <% end %>
</div>
