<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFinale</title>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Concert+One|Eczar|Ewert|Kavoon|Tillana" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="nav-extended N/A transparent">
          <div class="nav-wrapper">
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to "Home", root_path, :class => "navlink" %></li>
              <% if user_signed_in? %>
              <li class="text"><%= link_to "Edit Profile", edit_user_registration_path, :class => "navlink" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "navlink" %></li>
              <% else %>

              <li><%= link_to "Join", new_user_registration_path, :class => "navlink" %></li>
              <li><%= link_to "Log In", new_user_session_path, :class => "navlink" %></li>
              <% end %>
              <li><%= link_to "Contact", contactus_path, :class => "navlink" %></li>
              <li><%= link_to "About Us", aboutus_path, :class => "navlink" %></li>
              <li><%= link_to "Property Finder", property_finder_path, :class => "navlink" %></li>
              <li class="divider" class="black-text"></li>
            </ul>

            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a class="dropdown-button black-text  " href="#" data-activates="dropdown1">
                <i class="material-icons left">menu</i></a>
              </li>
            </ul>

            <a id="logo" href="/" class="brand-logo center black-text">
              <span class="Ajha">Ajka</span>Ile Iye<span class="Ajha">Ajka</span></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text"><i class="material-icons">menu</i></a>
            <ul class="black-text right hide-on-med-and-down">
              <% if user_signed_in? %>
              <li><%= link_to "Edit Profile", edit_user_registration_path, :class => "navlink" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "navlink" %></li>
              <% else %>
              <li><%= link_to "Join", new_user_registration_path, :class => "navlink" %></li>
              <li><%= link_to "Log In", new_user_session_path, :class => "navlink" %></li>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><%= link_to "Join", new_user_registration_path, :class => "navlink" %></li>
              <li><%= link_to "Log In", new_user_session_path, :class => "navlink" %></li>
              <li><%= link_to "Contact", contactus_path, :class => "navlink" %></li>
              <li><%= link_to "About Us", aboutus_path, :class => "navlink" %></li>
              <li><%= link_to "Property Finder", property_finder_path, :class => "navlink" %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <footer>
      <div class="footy"><nav class= "yellow-text N/A transparent">© 2017 Ile Iye</nav>
      </div>
    </footer>


    <%= yield %>

  </body>
</html>
